<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		
	</startup>

	<connectionStrings>
		<add name="connstring"
			 connectionString="Server=mobisql.ckgglex5izw5.us-east-1.rds.amazonaws.com;Database=MobiStore;User Id=admin;Password=teste123;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>